*
!*/
!*.lmp
!*.wad
!*.eps
!*.lua
!*.c
!*.cpp
!*.h
!*.hpp
!*.sh
!*.py
!*.md
!LICENSE
!CMakeLists.txt
!.gitignore
!*.tex
!*.sty
!*.bib
!*.cu
!*.proto
!*.pc
!*.tgn
!*.cfg
!gym_vizdoom/
._*
!conda_env.txt
